- name: disable default nodejs
  ansible.builtin.command: dnf module disable nodejs -y

- name: enabling nodejs 20
  ansible.builtin.command: dnf module enable nodejs:20 -y

- name: Install nodejs
  ansible.builtin.package:
    name: nodejs
    state: present

- name: create roboshop system user
  ansible.builtin.user:
    name: roboshop
    shell: /sbin/nologin
    comment: "Roboshop system user"
    home: /app
    system: true

- name: Delete app directory
  ansible.builtin.file:
    path: /app
    state: absent


- name: create app directory
  ansible.builtin.file:
    path: /app
    state: present
  