- name: disable default nodejs
  ansible.builtin.command: dnf module disable nodejs -y

- name: enabling nodejs 20
  ansible.builtin.command: dnf module enable nodejs:20 -y

- name: Install nodejs
  ansible.builtin.package:
    name: nodejs
    state: present

- name: create roboshop system user
  ansible.builtin.user:
    name: roboshop
    shell: /sbin/nologin
    comment: "Roboshop system user"
    home: /app
    system: true

- name: Delete app directory
  ansible.builtin.file:
    path: /app
    state: absent

- name: create app directory
  ansible.builtin.file:
    path: /app
    state: directory

- name: Deleting user application
  ansible.builtin.file:
    path: /tmp/user.zip
    state: absent
  
- name: Download user application
  ansible.builtin.get_url:
    url: https://roboshop-artifacts.s3.amazonaws.com/user-v3.zip 
    dest: /tmp/user.zip

- name: extract user application
  ansible.builtin.unarchive:
    src: /tmp/user.zip 
    dest: /app
    remote_src: yes
 
- name: Install nodejs dependencies
  community.general.npm:
    name: npm
    path: /app

- name: copying user services
  ansible.builtin.file:
    src: files/user.service
    dest: /etc/systemd/system/user.service

- name: Enable and start user
  ansible.builtin.systemd_service:
    name: user
    state: started
    enabled: true
    daemon_reload: true

